<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CanteenGo</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
	<header th:fragment="mainHeader">
		<div class="header-container">
			<div class="logo">CanteenGo</div>
			<nav class="navbar">
				<a href="#" class="nav-item">Trang Chủ</a> 
				<a href="#" class="nav-item">Thực Đơn</a> 
				<a href="#" class="nav-item">Liên Hệ</a> 
				<a href="#" class="nav-item">Đăng nhập</a>
			</nav>
		</div>
	</header>
</body>
</html>
