body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 2px;
    margin: 0px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-item:hover {
    text-decoration: underline;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.header-container {
    display: flex;             
    justify-content: space-between; 
    align-items: center;    
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
}